// textarea
  min-height: 700px
  max-height: 700px
  background: #f2f2f2
  width: 100%

#filelist
  // min-height: 700px
  // max-height: 700px
  // overflow-y: auto
  // position: absolute
  // width: 250px
  // right: 0
  // top: 0

  li
    background: none
    margin-left: 0
    position: relative
    width: 100%
    padding: 1%
    float: left
  span
    background: #000
    color: #f3f1ed
    border-radius: 2px

  .remove
    background: #A33B58
    color: #f3f1ed


.image
  span
    position: absolute
    right: 0.3em
    padding: 0 0.25em

  span.name
    top: 0.3em

  span.size
    top: 2.0em

  .remove
    position: absolute
    right: 0.3em
    bottom: 0.5em

    padding: 0 0.25em
    border-radius: 2px
    display: none

  &:hover .remove
    display: block

header
  margin-bottom: 1rem

// Прячем кнопки для загрузки изображений и вложений (и активируем их по ссылкам)
.images_form, .attachments_form
  display: none


.site
  display: flex
  min-height: 100vh
  flex-direction: column


.site-content
  flex: 1

